
<!-- {% extends 'nature_club/Base.html' %} -->

{% load static %}


<!-- {% block content %} -->

<section id="about"  style="background-image: url('{% static "img/abtt.jpg" %}');" class="clearfix">
 <div class="about_main">
  <div class="container">
  <div class="row">
  <div class="about_top clearfix">
    <h4>About us</h4>
  </div>
  </div>
 </div>
 </div>
</section>

<section id="about_2" class="clearfix">
  <div class="container">
  <div class="row">
  <div class="about_2 clearfix">
    <h4>Karatina Nature Club Society!</h4>
	<h5>The Nature Club of Karatina University was founded in the year 2010 with the following objectives in mind:<br> </h5>
    <ul style="font-size:25px">
        <li>Develop and implement programs to enhance environmental awareness and sustainability in line with the university’s performance contract.</li>
        <li>Exercise social responsiveness by organizing cleanups and tree planting activities within and outside the university.</li>
        <li>Organizing and participating in internal and external conferences, seminars, symposiums and competitions both national and international related to the conservation of the environment.</li>
        <li>Sensitizing the university fraternity and adjacent communities on the identification, utilization, and conservation of natural resources available for sustainable development.</li>
        <li>To liaise with other conservation oriented organizations in management and protection of our limited natural resources.</li>
        <li>To act as a body through which the university can effectively promote environmental conservation</li>
    </ul>
	<!-- <p><a href="#">READ MORE</a></p> -->
  </div>
  </div>
 </div>
</section>


<section id="about_4" class="clearfix">
    <div class="container">
    <div class="row">
    <div class="about_4_top clearfix">
     <h2>Our Team</h2>
    </div>
     <div class="about_middle clearfix">

        {% for i in items %}
      <div class="col-sm-3 clearfix">
      <div class="about_3_left_inner_1 clearfix">
       <img class="img-responsive" src="{{i.Images.url}}">
      </div>
      <div class="about_3_left_inner_2 clearfix">
       <h4><a href="#">{{i.Name}}</a></h4>
       <h5>{{i.Position}}</h5>
       <p>{{i.Description}}</p>
      </div>
     </div>
     {% endfor %}
     </div>

    </div>
   </div>
  </section>




<section id="about_5" class="clearfix">
   <div class="about_5 clearfix">
    <div class="col-sm-6 clearfix">
	<div class="about_5_left_inner clearfix">
	 <h4>Our  Delegacy</h4>
	 <h5>Develop and implement programs to enhance environmental awareness and sustainability in line with the university’s performance contract.</h5>
	 <p><a href="{% url 'NATURE_CLUB:About' %}">READ MORE</a></p>
	</div>
   </div>
    <div class="col-sm-6 about_5_right clearfix">
    <div class="about_5_right_inner clearfix">
	 <div class="grid clearfix">
					
					<figure class="effect-steve">
						<img src="{% static "img/n4.jpg" %}" alt="img33"/>
						<figcaption>
							<!-- <a href="#">View more</a>						 -->
                        </figcaption>			
		  </figure>
	  </div>
	</div>
   </div>
   </div>
</section>

<section id="about_6" class="clearfix">
  <div class="container">
  <div class="row">
  <div class="about_4_top clearfix">
   <h2>MEMBERSHIP</h2>
   <center><p>Interested in joining the Nature Club of Karatina University? Check out the different membership options and take your pick.</p></center>
  </div>
   <div class="about_6_middle clearfix">
    <div class="col-sm-6 clearfix">
    <div class="about_6_left_inner clearfix">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Ordinary Members</h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                </div>
                <div class="panel-body" style="display: block;">
                    All students in the University
The membership is recognized upon payment of the Registration Fee of KSHs. 200 only followed by a subscription fee of KSHs. 100 per semester.
</div>
            </div>
	</div>
   </div>
    <div class="col-sm-6 clearfix">
    <div class="about_6_left_inner clearfix">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Honorary Members		</h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                </div>
                <div class="panel-body" style="display: block;">
                <ul>
                    <li>Dean of students, Karatina University
                        </li>
                    <li> Club Patron</li>
                    <li>Club assistant patron.</li>
                    <li>Club Auditor.</li>
                </ul></div>
            </div>
	</div>
   </div>
   </div>
   <div class="about_6_middle clearfix">
    <div class="col-sm-6 clearfix">
    <div class="about_6_left_inner clearfix">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Friends of the Club</h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                </div>
                <div class="panel-body" style="display: block;">
                    One becomes a friend of the club upon payment of KSHs. 2000 (This category does not include undergraduate students of Karatina University).</div>
            </div>
	</div>
   </div>
    <div class="col-sm-6 clearfix">
    <div class="about_6_left_inner clearfix">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Associate Members	</h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                </div>
                <div class="panel-body" style="display: block;">
                    These include other societies, organizations and clubs that have related objectives and are willing to work hand in hand with the Nature Club.</div>
            </div>
	</div>
   </div>
   </div>
   </div>
  </div>
 </div>
</section>
<!-- {% endblock %} -->

