

{% extends 'nature_club/Base.html' %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

{% block content %}



<div class="container">
    <div class="page-header">
        <h1>Birding Subcommittee</h1>
      </div>
      <div class="well">
        <p>Birding can be said to have started in the 18th century but that was in search for food. In the 19th century active bird counts was started with an aim to understanding characteristics, adaptations and the feeding habits of the birds. 
        </p> 
        <ul>
            <li>Understanding adaptive features of the birds</li>
            <li>The frequency of species of birds</li>
            <li>Identifying the feeding habits of the birds</li>
            <li>Having the point count of different species of birds</li>
            <li>Understanding the seasonality of existence of different species of birds </li>
            <li>Having nature trails and walks in understanding different species and the habitats they exist</li>
        </ul>
        
        <p>Birding is a form of wildlife observation in which the recreational activity is observation of birds. It can be carried out in several ways which includes:
        </p>
        <ul>
            <li>Observation via naked eyes</li>
            <li>Observation through the use of visual enhancement devices like binoculars and telescopes</li>
            <li>Listening for bird sounds </li>
            <li>Making use of public webcams</li>
        </ul>
        <p>Karatina university nature club usually carries out the birding activity on weekly basis i.e. Saturday and Sunday. The best time for birding is early in the morning or at the early evenings. Birds are named according to the following characteristics;</p>
        <ul>
        <li>The type of food they feed on </li>
        <li>The birder who identified it</li>
        <li>The chirping sound of the birds</li>
        <li>The environment they live in</li>
        <li>Their appearance </li>
        </ul>
        <h2>There are several benefits associated with conducting birding,</h2> 
        <h2>These include:</h2>
        <ul>
            <li>Increases Mental fitness</li>
            <li>Physical fitness </li>
            <li>Great cardio. Hiking is associated with birding which allows for a great deal of cardiovascular activity.</li>
            <li>Reduces stress.  Being immersed in natural stimuli, including birds and birdsong, trees and nature scenes, trigger the human parasympathetic nervous system and induce a state of hyperawareness and hyperactivity. </li>
            <li>Mindfulness and meditation.</li>
        </ul>
         <p>Being part of the environment conservation measures birding offers one with a chance to be relaxed and have fun with friends. Nature club offers a chance for anyone willing to undertake birding. With the help of guidebooks and binoculars, the activity is conducted inside or within the university. Birders are thus equipped with knowledge to help them identify birds. </p>
        
        <h2>EVERYONE IS WELCOME TO JOIN US IN LEARNING AND UNDERSTANDING MORE ABOUT BIRDS.</h2>
        <h2>THERE IS MORE HIDDEN KNOWLEDGE ABOUT BIRDS THAT NEEDS TO BE ESTABLISHED AND WRITTEN DOWN ON PAPER</h2>
        <p>Birding activity is undertaken every Saturday from 6:30am to 10:00am.</p>
        <h1>Manasseh Mwangi</h1>
        <h2>President, Birding subcommittee.</h2>
        <hr>
        <p><a href="#" target="_blank"><small>NatureClub</small>  Chair<sub></sub></a></p>  
        
      </div>
    
    </div>


{% endblock %}










