
{% extends 'nature_club/Base.html' %}

{% load static %}


{% block content %}
  <section id="contact" class="clearfix">
    <div class="container">
     <div class="row">
       <div class="contact clearfix">
      <div class="contact_top clearfix">
       <h2>CO<span class="learning">NTA</span>CTS</h2>
       <h5>FOR ANY COMMENTS GUIDANCE OR COMPLAINS </h5>
       <h1>Address: 10101, Karatina University</h1>
       <h1>Let’s talk</h1>
       <h1><span>Club's Secretary~Nelly<a href="#"> (254) 710-403-700 </a></span></h1>
       <h1><span>Club's Treasurer ~ Victor<a href="#"> (254) 702-406-527 </a></span></h1>
       <h1><span>Club's Editor~ Moses<a href="#"> (254) 792-153-240 </a></span></h1>
       <h6>Karatina University:</h6>
       <h3>Thursday:<span class="learning_2">09 AM. — 09 PM.</span></h3>
       <h3>Friday:<span class="learning_2"> 09 AM. — 09 PM.</span></h3>
       <h3>Saturday:<span class="learning_2">09 AM. — 09 PM.</span></h3>
      </div>
      <div class="contact_middle clearfix">
       <div class="col-sm-3"></div>
      <div class="col-sm-6 contact_middle_inner clearfix">
       <input type="text" class="  search-query form-control form-control_4" name="Name" placeholder="Name">
       <input type="email" class="  search-query form-control form-control_4" name="Email" placeholder="E-mail">
       <input type="text" class="  search-query form-control form-control_4" name="Phone" placeholder="Phone">
       <textarea id="edit-submitted-your-message" name="submitted[your_message]" cols="60" name="Message" placeholder="MASSAGE" rows="5" class="form-textarea form-textarea_5" style="color: grey;"></textarea>
       <h4><a href="#">SUBMIT</a></h4>
       <h1>Your feedback shall be of great help in ensuring we deliver the best to you!!</h1>
      </div>
      </div>
     </div>
     </div>
    </div>
   </section>


 {% endblock %}