{% extends 'nature_club/Base.html' %}

{% load static %}


{% block content %}
<section id="center_1" class="clearfix">
  <div class="ceneter_1 clearfix">
   <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="4" class=""></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      {% for slide in sliders %}
        <div class="item {% if forloop.first %}active{% endif %}">
          <img src="{{slide.Full_image.url}}" alt="Third slide">
          <!-- Static Header -->
                  <div class="header-text">
                      <div class="col-sm-12 clearfix">
                          <div class="col-sm-6 clearfix">
             <div class="center_1_middle clearfix">
              <h4><img src="{{slide.Small_image.url}}"></h4>
              <h1>{{slide.title}}</h1>
              <p>{{slide.Description}}</p>							</div>
            </div>
                          <br>
                      </div>
                  </div>
        </div>
        {% endfor %}
    </div>			
  </div>
</div>
</section>

<section id="center_2" class="clearfix">
<div class="container">
<div class="row">
 <div class="center_2_head clearfix">
   <h2>Our Activities</h2>
 </div>
{% for s in services %}
<div class="col-sm-3 center_2_middle_left clearfix">
 <div class="center_2_middle_left_inner clearfix">
  <div class="ih-item square effect13 top_to_bottom"><a href="#">
                    <div class="img"><img src="{{s.Images.url}}" alt="img"></div>
                    <div class="info">
                      <h3>{{s.title}}</h3>
                      <p>{{s.Description}}</p>
                    </div></a></div>
 </div>
 <!-- <div class="center_2_middle_left_inner_2 clearfix">
  <h5><a href="#">Aptent</a></h5>
 </div> -->
</div>

{% endfor %}
 </div>
</div>
</div>
</section>

<section id="center_3" class="clearfix">
<div class="center_3 clearfix">
<div class="col-sm-6 center_3_left clearfix">
 <div class="center_3_left_inner clearfix">
  <img src="{% static 'img/n4.jpg' %}" style="width:675px">
 </div>
</div>
<div class="col-sm-6 center_3_right clearfix">
 <div class="center_3_right_inner">
  <h3>Vision</h3>
<h5>To be the leading Environmental Club in conservation and nurturing of conservationists for sustainable use of the environment</h5>
<h3>Mision</h3>
<h5>We are dedicated to support and promote Eco-friendly practices, engender and enhance social responsibilities through active and sound participation in sustainable environmental conservation.</h5>
<p><a href="{% url 'NATURE_CLUB:About' %}">READ MORE</a></p>
 </div>
</div>
</div>
</section>


<center><h1>We are subdivided to several sub-groups that help us achieve our main objective <br>
  {TO CONSERVE THE ENVIRONMENT}
  </h1></center>
<section id="center_4" class="clearfix">
<div class="container">
<div class="row">
 <div class="center_4 clearfix">
  <div class="col-sm-4">
 <div class="center_4_left clearfix">
  <p><img src="{% static 'img/bird.jpg' %}" style="width: 70px;"></p>
  <h4>Bird-watching subcommittee</h4>
  <h5>Tellus sed augue semper porta. Mauris massa.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos C. Curabitursodales ligula in libero.</h5>
 </div>
</div>
<div class="col-sm-4">
 <div class="center_4_middle clearfix">
  <p><img src="{% static 'img/tree.jpg' %}" style="width: 70px;"></p>
  <h4>Tree-planting subcommittee</h4>
  <h5>Tellus sed augue semper porta. Mauris massa.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos C. Curabitursodales ligula in libero.</h5>
 </div>
</div>
<div class="col-sm-4">
 <div class="center_4_left clearfix">
  <p><img src="{% static 'img/n4.jpg' %} " style="width: 70px;"></p>
  <h4>Debate subcommittee read more about the club sub-committees</h4>
  <h5>Tellus sed augue semper porta. Mauris massa.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos C. Curabitursodales ligula in libero.</h5>
 </div>
</div>
 </div>
</div>
</div>
</section>



<section id="center_8" class="clearfix">
  <div class="container">
   <div class="row">
   <div class="center_8 clearfix">
    <div class="col-sm-7">
     <div class="center_8_left clearfix">
    <p>To get our weekly services, you can subscribe to our services via email</p>
   </div>
    </div>
    <div class="col-sm-5">
     <div class="center_8_right clearfix">
    <div class="input-group clearfix">
                                 <input type="text" class="search-query form-control form-control_course" placeholder="E-mail">
                                 <span class="input-group-btn">
                                     <button class="btn btn-primary" type="button">
                                         <span class="location">Subscribe</span>
                                     </button>
                                 </span>
                             </div>
   </div>
    </div>
   </div>
   </div>
  </div>
 </section>
 
{% endblock %}