{% extends 'nature_club/Base.html' %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

{% block content %}



<div class="container">
    <div class="page-header">
        <h1>Presidential Department</h1>
      </div>
      <div class="well">
        <h2>President Nature Club 
        </h2>
        <h2>Manasseh Mwangi</h2>
        <p>Nature Club is an Environmental club aimed at conserving our biodiversity, promoting conservation awareness and being voices of reason and change in terms of utilization of our Natural resources.
            Nature Club incorporates students from all disciplines:</p>
        <ul>
            <li>Nursing</li>
            <li>Environmental studies</li>
            <li>Natural resource management</li>
            <li>Information science</li>
            <li>Food science and Nutrition</li>
            <li>Criminology</li>
        </ul>
        <p>Nature club is governed by the principle of environmental solution rather than pollution. We encourage members from all disciplines to join us in making our environment better. 
            The community around us is also part of us as we help in cleaning of our markets and shopping centers, our rivers, etc... We also have tree planting and mentor-ship programs in our local primary and secondary schools, which is our way of giving back to our society.
            Conservation of our environment is close to us as we lead in promoting awareness on conservation of our mother earth; our tree planting activities both in and out of our university is geared towards increasing the national tree cover to reduce the impacts of climate change regionally, nationally and globally.
            “Let's Preserve Our Nature</p>
        <ol>
            <li>The sun is shining,</li>
            <li>The sky is blue,</li>
            <li>The birds are flying,</li>
            <li>And the breeze is so cool.</li>
        </ol>
        
        <ol>
            <li>Mother Nature is trying her best</li>
            <li>To give nothing but beautifulness,</li>
            <li>But what do we do?</li>
            <li>Make her a mess.</li>
        </ol>
        
        
        <ol>
            <li>Let's make her the best</li>
            <li>By polluting less and less,</li>
            <li>And preserve her green dress</li>
            <li>For our kids and the rest.”</li>
        </ol>
        
        <h1>Vice-President Nature Club </h1>
        
        <cite>Michael Kiiru</cite>
        <p>Our aim is to enhance engender practices, eco-friendly and social responsibility in achieving a sustainable conservation. We are aimed at nurturing conservationists for conservation and sustainable use of environment, which stands as our main objective.
            As an incumbent leader, it is my duty and obligation to be at the forefront of the main objective, environment conservation. I prioritize the use of green energy, biomass and synthetic plastic free paper bags.
            The club helps in building good leadership skills through participation in club activities such as, elections, debates, public speaking etc.</p>
            <ul>
                <li>Promotes teamwork since the club members usually work as a team. the teamwork skill is developed as well hence promote unity</li>
                <li>Helps one to determine his/her role in the nation through engagement in various activities such as manual cleanup, tree planting etc.
                    My roles as a vice president include</li>
                <li>To assist the president and other club executive in completing their duties.</li>
                <li>To be in charge of the welfare of the club.</li>
            </ul>
        
        <h1>Treasurer Nature Club</h1>
        <cite>Victor Muriithi</cite>
        <p>
            
        Our main aim as nature club is to maintain and conserve our environment. We do engage in many activities that enables us conserve the environment .we do plant trees in our environment to ensure continuity of the available species. We do cleanup activities in and around the school to ensure our environment remains clean. We also have debate activities one’s per week that makes club members active. We also participate in birding activity every Saturday of every week that enables us watch and study various types of birds we have in our environment. Hiking is also part of the activities that we enjoy most as we walk around and watch the beautiful nature of our environment. Long trips gives us chance to move across the parts of the world and learn of various things of nature and the activities in the environments.
        We wish to have more members in our club so that they can help us conserve and maintain our environment. We also need new members so that we can know more of the activities that we can get in to and can help us maintain a good environment.
        Being a member of nature club since I joined our university has helped me a lot in the way I interact with the environment. It has enabled me understand the importance of maintaining cleanliness in our environment.
        	The club’s main source of income mainly from registration and subscription fee, which is paid by the members. Others sources include fund raising activities, volunteers and well-wishers, registration as friends of the club by our alumni. Sale of t-shirts, wristbands also create income to the club.
        As the treasurer am obliged to, various roles to ensure smooth running of the club
        Roles include:
        </p>
        
        <ol>
            <li>Maintain accurate records of financial transaction of the club</li>
            <li>To be one of the signatories to all financial transaction of the club</li>
            <li>Book keeping and record keeping</li>
            <li>	Present a financial report during the AGM. </li>
            <li>General oversight of the clubs expenditure and budget.</li>
        </ol>
        Am also tasked to provide money to finance the club’s activities when needed.
        <hr>
        <p><a href="#" target="_blank"><small>NatureClub</small>  Chair<sub></sub></a></p>  
        
      </div>
    
    </div>


{% endblock %}