{% extends 'nature_club/Base.html' %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

{% block content %}



<div class="container">
    <div class="page-header">
        <h1>Secretariat Department</h1>
      </div>
      <div class="well">
		{% for img in images %}
        <center><img src="{{img.Image.url}}" alt=""></center><br><br>
        {% endfor %}
<h3>The Secretarial desk is managed by three secretaries and one Ex-Official that is;</h3>
<ul>
	<li>The Secretary</li>
	<li>The Vice Secretary</li>
	<li>The Organizing Secretary</li>
	<li>Ex-Official</li>
</ul>

<h1>Secretary Nature Club</h1>
<cite>Nelly Mwebia</cite>

<p>Nature club is a conservation club aimed at conserving and providing an eco- friendly environment.
	As the head of the secretarial desk, the roles of the secretary include:</p>

	<ul>
		<li>Recording minutes of the AGM and SGM.</li>
		<li>maintain and have custody of all correspondence and records of the Executive Committee.</li>
		<li>Publicize notice of meetings as required under this constitution.</li>
		<li>Be one of the signatories of Nature Club financial transactions and documents.</li>
		<li>Maintain contact with all other universities and be responsible for foreign/external affairs.Nature club offers a variety of experiences and opportunities.</li>
		<li>Mentorship programs. We visit schools, churches, prisons and children homes .we speak to them about conservation.</li>
		<li>Environmental awareness. Through having, an awareness week. We get speakers to address the same.</li>
		<li>Tree planting. We plant trees around our school, both primary and secondary schools, children homes and churches.</li>
		<li>Hiking’s, team building and bonfires. We visit places like Mt Kenya, Mt Longonot, and Aberdare ranges for expeditions.</li>
		<li>Game parks and national reserves and museums such as Meru, Nairobi and Nakuru.</li>
		<li>Internal and external clean ups. We do this around school, and within Nyeri the county with partnership of Nyeri county government.</li>
		<li>Birding activities. We go bird watching around the school and along the roads to identify different bird species.</li>
		<li>Debates. We do debates on different hot topics concerning environment and climate changes. I wish all to embrace conservation. Green energy movement.</li>
	</ul>


<h1>Vice-Secretary Nature Club</h1>
<cite>Stella Waithera</cite>

<p>
	The club is of major importance to the community and nation at large as it instills a sense of responsibility to the youth who are our future. It also plays a major role in creating better citizens and leaders who are sensitive to environmental conservation and prevention of environmental pollution.
	The club takes part in major conservation activities such as tree planting and mentor-ship, community cleanups and creating awareness to the immediate community about environmental conservation.
	As a club, we also take pride in our alumni who are also making great achievements and flying our flag high at their various locations and career paths.
	My main role in the club is to  
</p>
    <ul>
		<li>To ensure arranging of meeting venue for all club meetings. </li>
		<li>Coordinate and ensure delegation of performance of all tasks of the club projects and activities.  </li>
		<li>Writing and filling of report of all club activities and projects. </li>
	</ul>              

<h1>Organizing-Secretary Nature Club</h1>
<cite>Victor Kipkirui</cite>
<p>
	The club benefits the nation in many ways for example
</p>
<ul>
	<li>To facilitate conservation of environment and wildlife through organizing for club activities and projects like tree planting.   </li>
	<li>To promote partnership with governmental organization like NEMA and NGOs on issues of environment, youth empowerment and conservation of natural resources through organizing for events and venues. </li>
	<li>To promote leadership skills in the nation through team work with other club's executives and partnership with other youth organization like Jiactivate</li>
</ul>


<h1>Ex-Official Nature Club</h1>
<cite>Naom Chepkorir</cite>

<p>
Firstly, my pleasure of adventure have taken me to places like Mt Longonot
Preserving environment; general cleaning, collecting liter, tree planting activities and etcetera.
Birding activities have made me know many of the beautiful birds I did not know.
Debating is one of my favorite things I love doing in the club. It also helps builds confidence and even eloquence.
</p>

<p>
	The main aim is to equip not only students but everyone with the art of preserving environment in all dimensions i.e. tree planting.
</p>
<ul>
	<li>Improve communication skills through debating and the upcoming weekly essay writing.</li>
	<li>In addition, come up with individuals who are helpful to the society.</li>
</ul>

<p>
	I therefore encourage everyone to register, as a member of Nature Club for you will acquire not only the skills but also a good certificate
I Act as the club's watchdog by;
</p>
 
<ol>
	<li>Ensuring that the executive uses the club funds appropriately.</li>
	<li>Checking on any form of money embezzlement and misappropriation and reporting it to the members.</li>
	<li>Monitor the activities performed by the executive and report to members.</li>
	<li>Ensuring that the members are fairly treated</li>
</ol>

        <hr>
        <p><a href="#" target="_blank"><small>NatureClub</small>  Chair<sub></sub></a></p>  
        
      </div>
    
    </div>


{% endblock %}