
{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nature</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
	 <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
	 <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
	 <link href="https://fonts.googleapis.com/css?family=Uncial+Antiqua" rel="stylesheet">

	 <link href="{% static 'css/aos.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/aos.js' %}"></script>
	<script type="text/javascript">
        window.alert = function(){};
        var defaultCSS = document.getElementById('bootstrap-css');
        function changeCSS(css){
            if(css) $('head > link').filter(':first').replaceWith('<link rel="stylesheet" href="'+ css +'" type="text/css" />'); 
            else $('head > link').filter(':first').replaceWith(defaultCSS); 
        }
        $( document ).ready(function() {
          var iframe_height = parseInt($('html').height()); 
          window.parent.postMessage( iframe_height, 'http://bootsnipp.com');
        });
    </script>
	
  </head>
  
  
  
  
<body>
<section id="top" class="clearfix">
 <div class="container">
  <div class="row">
   <div class="top clearfix">
    <div class="col-sm-6 top_left clearfix">
	 <div class="top_left_inner">
	  <ul>
	    <li><i class="fa fa-mobile-phone"></i><a href="#"> 792-153-240 </a></li>
		<li><i class="fa fa-comments"></i><a href="#"> info.natureclub@gmail.com</a></li>
		<li><i class="fa fa-envelope"></i><a href="#"> karunatureclub.com</a></li>
	  </ul>
	 </div>
	</div>
	<div class="col-sm-6 top_right clearfix">
	 <div class="top_right_inner">
	  <ul>
	   <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
	   <li><a href="#"><i class="fa fa-twitter"></i></a></li>
	   <li><a href="#"><i class="fa fa-google-plus-official"></i></a></li>
	   <li><a href="#"><i class="fa fa-skype"></i></a></li>
	   <li><a href="#"><i class="fa fa-youtube-square"></i></a></li>
	  </ul>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="header"  class="cd-secondary-nav">
	<nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="{% static 'img/L.jpg' %}" style="width: 90px;">Nature</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="tag_menu" href="{% url 'NATURE_CLUB:Home' %}">Home</a>
                    </li>
                     
                    <li>
                        <a class="tag_menu active_tab" href="{% url 'NATURE_CLUB:About' %}">About</a>
                    </li>
					
                    <li>
                        <a class="tag_menu" href="{% url 'NATURE_CLUB:Gallery' %}">Gallery</a>
                    </li>
                    <li>
                        <a class="tag_menu" href="{% url 'BLOG:PostList' %}">Blog</a>
                    </li>
				
					<li>
                        <a class="tag_menu" href="{% url 'NATURE_CLUB:Contact' %}">Contact</a>
                    </li>
					
					<li class="dropdown"><a class="tag_menu"  href="blog.html" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i>Search</a>
							<ul class="dropdown-menu drop_1" style="min-width: 300px;">
								<li>
									<div class="row_1">
										<div class="col-sm-12">
											<form class="navbar-form navbar-left" role="search">
											<div class="input-group">
												<input type="text" class="form-control" placeholder="Search">
												<span class="input-group-btn">
													<button class="btn btn-primary" type="button">
														Go!</button>
												</span>
											</div>
											</form>
										</div>
									</div>
								</li>
							</ul>
						</li>
						
					<li class="dropdown">
          <a class="tag_menu" href="{% url 'ShowLoginPage' %}" class="dropdown-toggle" data-toggle="dropdown">Login<span class="caret"></span></a>
			<ul id="login-dp" class="dropdown-menu">
				<li>
							<div class="col-sm-12">
								Login via
								<div class="social-buttons">
									<a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
									<a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
								</div>
                                or
								 <form class="form" role="form" method="post" action="http://bootsnipp-env.elasticbeanstalk.com/iframe/login" accept-charset="UTF-8" id="login-nav">
										<div class="form-group">
											 <label class="sr-only" for="exampleInputEmail2">Email address</label>
											 <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required="">
										</div>
										<div class="form-group">
											 <label class="sr-only" for="exampleInputPassword2">Password</label>
											 <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required="">
                                             <div class="help-block text-right"><a href="#">Forget the password ?</a></div>
										</div>
										<div class="form-group">
											 <button type="submit" class="btn btn-primary btn-block">Sign in</button>
										</div>
										<div class="checkbox">
											 <label>
											 <input type="checkbox"> keep me logged-in
											 </label>
										</div>
								 </form>
							</div>
							<div class="bottom text-center">
								New here ? <a href="{% url 'do_member_signup' %}"><b>Join Us</b></a>
							</div>
				</li>
			</ul>
        </li>
					
        <li class="dropdown">
          <a class="tag_menu" href="blog.html" data-toggle="dropdown" role="button" aria-expanded="false">Executive<span class="caret"></span></a>
          <ul class="dropdown-menu drop_1" role="menu">
          <li><a href="blog.html">Presidential</a></li>
          <li><a href="blog.html">Editorial</a></li>
          <li><a href="blog.html">Secretatrait</a></li>
          </ul>
                  </li>

                  <li class="dropdown">
                      <a class="tag_menu" href="blog.html" data-toggle="dropdown" role="button" aria-expanded="false">Subcom<span class="caret"></span></a>
                      <ul class="dropdown-menu drop_1" role="menu">
                        <li><a href="blog.html">Tree planting</a></li>
                        <li><a href="blog.html">Debate and writing</a></li>
                        <li><a href="blog.html">Birding</a></li>
                      </ul>
                    </li>
					
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</section>
<div class="breadcrumbs">
  <div class="container">
      <a href="{% url 'NATURE_CLUB:Home' %}">Home</a> &rarr;
      <a href="#">Blog detail</a>
  </div>
</div>
<div class="container bg-success">
    <div class="row">
      <div class="col-md-8 card mb-4  mt-3 left  top">
        <div class="card-body">
          <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
          <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
          <p class="card-text ">{{ post.content | safe }}</p>
        </div>
      </div>
      {% block sidebar %} {% include 'nature_club/sidebar.html' %} {% endblock sidebar %}
    </div>
  </div>

  <section id="footer" class="clearfix">
    <div class="container">
     <div class="row">
     <div class="footer clearfix">
      <div class="col-sm-4">
       <div class="footer_left clearfix">
      <h4>About Us</h4>
      <p>The Nature Club of Karatina University was founded in the year 2010 with the following objectives in mind:
    Develop and implement programs to enhance environmental awareness and sustainability in line with the university’s performance contract.
        </p>
     </div>
      </div>
      <div class="col-sm-2">
       <div class="footer_left clearfix">
      <h4>Services</h4>
      <p><a href="#">Hike</a></p>
      <p><a href="#">Swimming</a></p>
      <p><a href="#">Mountain climb</a></p>
      <p><a href="#">Tour</a></p>
      <p><a href="#">Hike</a></p>
      <p><a href="#">Mountain climb</a></p>
     </div>
      </div>
      <div class="col-sm-3">
       <div class="footer_left clearfix">
      <h4>Address</h4>
      <p>Call: <a href="#">(254) 710-403-700 </a></p>
      <p>Mon-Fri: 10 AM - 7 PM</p>
      <p>Sat-Sun: 10 AM - 3 PM</p>
      <p><a href="#">Karatina, RCH LAB6</a></p>
      <p>Karatina University</p>
      <p><a href="#">info.natureclub@gmaill.com</a></p>
     </div>
      </div>
      <div class="col-sm-3">
       <div class="footer_left clearfix">
      <h4>Useful links</h4>
      <p><a href="#">Give a Duis Today</a></p>
      <h3>Social Media</h3>
      <ul>
       <li><a href="#">Facebook</a></li>
       <li><a href="#">Twitter</a></li>
       <li><a href="#">Google+</a></li>
       <li><a href="#">Instagrame</a></li>
      </ul>
     </div>
      </div>
     </div>
     </div>
    </div>
   </section>
   
   <section id="footer_last" class="clearfix">
    <div class="container">
     <div class="row">
      <div class="footer_last clearfix">
      <div class="footer_last_left_inner">
       <p class="website">© 2021 karunatureclub.co.ke. All rights reserved | Design by<a href="http://www.teamtechkenya.co.ke"> TeamTech Kenya</a></p>
      </div>
      </div>
     </div>
    </div>
   </section>
  </body>
  <script type="text/javascript">
    $(document).ready(function(){
    
    /*****Fixed Menu******/
    var secondaryNav = $('.cd-secondary-nav'),
       secondaryNavTopPosition = secondaryNav.offset().top;
        $(window).on('scroll', function(){
            if($(window).scrollTop() > secondaryNavTopPosition ) {
                secondaryNav.addClass('is-fixed');	
            } else {
                secondaryNav.removeClass('is-fixed');
            }
        });	
        
    });
    </script> 
    <script>
          AOS.init({
      duration: 1200,
    })   
  </html>
  