
{% extends 'nature_club/Base.html' %}

{% load static %}


{% block content %}

<section id="about" style="background-image: url('{% static "img/abtt.jpg" %}'); class="blog clearfix">
    <div class="about_main">
     <div class="container">
     <div class="row">
     <div class="about_top clearfix">
       <h4>Blog</h4>
     </div>
     </div>
    </div>
    </div>
   </section>

  <center style="font-size:25px">
    <p>
      We are in the midst of the sixth major extinction event
in the history of existence, and indeed the greatest
wave of extinction since the disappearance of the
dinosaurs. Even more saddening is the fact that unlike
previous extinctions, which have been attributed
to natural forces, human beings are entirely to blame
for the current extinction.
    </p>
    <p>
      We have extensively altered our global
environment through emission of greenhouse
gasses, modification and destruction
of vast tracts of land and river
We are in the midst of the sixth major extinction
event in the history of existence,
and indeed the greatest wave of extinction
since the disappearance of the dinosaurs.
Even more saddening is the fact
that unlike previous extinctions, which
have been attributed to natural forces,
human beings are entirely to blame for
the current extinction.
    </p>
    <p>
      We have extensively altered our global
environment through emission of greenhouse
gasses, modification and destruction
of vast tracts of land and river systems,
oceanic devastation, and over exploitation
of plant and animal populations.
While we cannot burry our heads under
the sand and ignore the realities of environmental
degradation, we should also
not forget the remarkable achievements
and success stories from some targeted
conservation interventions.
    </p>
    <p>
      Thanks to rigorous and timely conservation
interventions, some of the species
whose populations were declining at an
alarming rate, are now safely on the road
to recovery. There is renewed hope in
restoration of numerous degraded terrestrial
and oceanic ecosystems.
    </p>
  </center>
  <cite style="float:left">Patron’s “ Duncan Kimuyu (Patron)</cite>
   <section id="blog_2" class="clearfix">
    <div class="container">
    <div class="row">
    <div class="blog_2 clearfix">
     <div class="col-sm-9 blog_2_left clearfix">

        {% for post in  %}
       
      <div class="blog_2_left_top clearfix">
      <div class="blog_2_left_inner_1 clearfix">
       <h4>Blog</h4>
      </div>
      <div class="blog_2_left_inner_2 clearfix">
        <div class="grid clearfix">
                      
                      <figure class="effect-kira">
                          <img src="{{ post.Images.url}} " alt="img05"/>
                          <figcaption>						</figcaption>			
            </figure>
        </div>
      </div>
      <div class="blog_2_left_inner_3 clearfix">
       <h2><a href="detail.html">{{ post.title }}</a></h2>
       <h5>{{post.content|slice:":200" }}</h5>
       <ul>
        <li><a href="#">{{ post.author }}</a></li>
        <li><a href="#">{{ post.created_on}} </a></li>
       </ul>
       <p><a href="{% url 'BLOG:post_detail' post.slug  %}">READ MORE</a></p>
      </div>
      </div>
        {% endfor %}
     <div class="col-sm-3 blog_2_right clearfix">
      <div class="blog_2_right_inner_1 clearfix">
       <h3>Committies</h3>
       <p><i class="fa fa-check-circle"></i><a href="{% url 'BLOG:editor' %}">Editorial</a></p>
       <p><i class="fa fa-check-circle"></i><a href="{% url 'BLOG:presid' %}">Presidential</a></p>
       <p><i class="fa fa-check-circle"></i><a href="{% url 'BLOG:sec' %}">Secretatriat</a></p>
       <h3>Tags</h3>
       <ul>
        <li><a href="#">Nature</a></li>
        <li><a href="#">Diversity</a></li>
        <li><a href="#">Environment</a></li>
       </ul>
        <h3>Recent posts</h3>
      </div>
 
      {% for post in pt %}
      <div class="blog_2_left_inner_2 clearfix">
        <div class="grid clearfix">
                      
                      <figure class="effect-kira">
                          <img src="{{ post.Image.url}}" alt="img05">
                          <figcaption>						</figcaption>			
            </figure>
        </div>
      </div>
      <div class="blog_2_right_inner_2 clearfix">
       <h5><a href="{% url 'BLOG:post_detail' post.slug  %}">{{ post.title}}</a></h5>
       <h6>{{ post.author }}</h6>
       <h6>{{ post.created_on}}</h6>
      </div>
      {% endfor %}

     </div>
    </div>
    </div>
   </div>
  </section>


{% endblock %}
  